---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import Results from '@components/Results.astro';

const query = Astro.url.searchParams.get('q')! || '';

const recipes = (
  await getCollection('recipes', (entry) =>
    entry.data.title.toLowerCase().includes(query.toLowerCase())
  )
).sort((a, b) => (a.data.lastUpdate > b.data.lastUpdate ? -1 : 1));
---

<Layout title="Home">
  <h2>Recent recipes</h2>
  <Results recipes={recipes} />
</Layout>
