---
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import RecipeCard from '@components/RecipeCard.astro';

const recipes = await getCollection('recipes');
---

<Layout title="Home">
  <h2>Recent recipes</h2>
  <ul>
    {recipes.map((recipe) => <RecipeCard post={recipe} />)}
  </ul>
</Layout>

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }
</style>
