---
const searchParams = Astro.url.searchParams.get('q')! || '';
---

<form id="form">
  <input
    id="search"
    type="search"
    value={searchParams}
    placeholder="Search for recipes, ingredients, anything..."
  />
</form>

<script>
  const form = document.getElementById('form') as HTMLFormElement;
  const search = document.getElementById('search') as HTMLInputElement;

  form.addEventListener('submit', (event) => {
    event.preventDefault();

    const url = new URL(window.location.origin);
    search.value === '' ? url.searchParams.delete('q') : url.searchParams.set('q', search.value);

    window.location.replace(url);
  });
</script>

<style>
  input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--white);
    border: 0;
    border-radius: 0.25rem;
  }
</style>
